* {
    margin: 0;
    padding: 0;
}

.login {
    height: 400px;
    width: 300px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    border: 1px solid;
}

.login > button {
    width: 100%;
}