* {
    margin: 0;
    padding: 0;
}

.searchpage {
    margin-top: 5px;
    margin-left: 20px;
}

.searchpage__results {
    display: flex;
    flex: 1;
    gap: 5px;
    flex-wrap: wrap;
}

.searchpage__results > * {
    width: 600px;
}

